<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta 
    name="viewport" 
    content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="/css/404.css">
    <title>404 es hiba!</title>
</head>
<body>
    <div id="hiba-kontener">
        <h1>404 Hiba!!!</h1>
        <p>A keresett erőforrás nem található!</p>
    </div>
</body>
</html>