<div id="nav-kontener">
<nav>
  <a href="/api">Főoldal</a> |
  <a href="/api/users-backend">Felhasználók</a> |
  <a href="/api/trainers-backend">Edzők</a>
  <a href="http://localhost:5173">Frontend</a>
</nav>
<hr/>

</div>