<!-- backend/views/users.ejs -->
<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Edzőink</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <%- include('nav') %>

  <h1>Quater Edző Csapat!</h1>


  <ul id="trainers-list"></ul>

  <script src="/backend/models/Trainer.js"></script>
</body>
</html>
