<!-- backend/views/users.ejs -->
<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Felhaszn치l칩k</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <%- include('nav') %>

  <h1>Felhaszn치l칩k</h1>
  <ul id="users-list"></ul>

  <script src="/js/user-backend.js"></script>
</body>
</html>
