* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nav-kontener {
    float: left;
    list-style-type: none;
    padding: 1em;
    width: 10%;
}

#nav-kontener li a {
    color: blue;
    font-size: 2em;
    text-decoration: none;
}

#main-kontener {
    align-items: center;
    background-color: #000;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 1em;
}

#trainers-list img {
    width: 150px;
}