*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url(/images/gymbackground.png); */
    background-color: #fff;
    color: white;
}

.home-kontener {
    background-image: url('/images/gymbackground.png');
    background-size: cover;
    background-color: black;
    width: 100vw;
    height: 100vh;
    
}

h1 {
    /* background-color: white; */
    font-size: 200px; 
    color: black;   
}